/*
pre{
	padding: 0;
	font-size: 1em;
	margin: 0;*/
*, html {
    margin:0;
    padding:0;
}

body {
	margin: 0;
	background-color: #e9eaed;
/*	background-image: url(img/bg.png);*/
}

textarea, form, article, aside, .box-maker, nav{
	background-color: #fff;
}
ul, li {
	padding: 0;
	margin: 0;
}
/*Global*/
.container {
    max-width: 850px;
    margin: auto;
}

input, textarea {
	display: block;
	width: 100%;
	resize: none;
	border-color: #c1cad9;
	border-style: solid;
	border-width: 1px;
}
/*header*/
header {
	background-color: #48669c;
	display: block;
	height: 27px;
	margin: 0;
	border: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	margin-bottom: solid black 5px;
}
/*top*/
.cover
{
	position: relative;
	height: 349px;
}

.cover-pic {
	width: 850px;
	height: 350px;
	overflow: hidden;
	
}

.profile-pic {
	position: absolute;
	top: 215px;
	left: 20px;
	width: 145px;
	height: 150px;
	border: 5px solid white;
	border-radius: 3px;
	box-shadow:
    0 0 0 1px #dadadb,
    0 0 0 1px #dadadb;
}

nav {
	display: block;
	width: 100%;
	
	border: 1px solid #dadadb;
	border-radius: 3px;
	margin-bottom: 10px;
}

nav a{
	text-decoration: none;
	color: #3c5f9d;
}
/*
-{
	float: left;
	padding-left: 180px;
	margin:0;
	display: inline;
	border-right: 1px solid #dadadb;
	height: 100%;}*/

nav li{ 
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	list-style-type: none; 
	border-left: 1px solid #dadadb;

}

nav li:last-child{
	border-right: 1px solid #dadadb;
}

.nav-margin {
	margin-left: 180px;
}

.border-maker li,{
	
	border-left: 1px solid #dadadb;
}


aside {
	
	border:  1px solid #dadadb;
	border-radius: 5px;
	border-collapse: collapse;
	float: left;
	width: 33.1%;
	
	margin: 0;
	position: relative;

}
aside legend{
	padding: 10px;
	border-bottom: 1px solid #dadadb;
	border-collapse: collapse;
}
aside li, aside p{

	padding: 10px;
	text-decoration: none;
	list-style-type: none; 
	text-align: left;
	
	border-bottom: 1px solid #dadadb;
	
	border-collapse: collapse;
}

.fa-pencil {
	opacity: .5;
	position: absolute;
	right: 0px;

}

.editable::after {
	content: "LotsOfLove";
	visibility: hidden;
}



.right {
	width: 66.2%;
	float: right;
	border-radius: 3px;
	
}

.right form > * , .box-maker > *{
	margin-top: 10px;
	margin-bottom: : 10px;
}
	
.right form, .box-maker{
	padding: 10px;
	border: 1px #dadadb solid;
	border-radius: 3px;
}



.pictureContainer {
	width: 66.2%;
	float: right;
	border-radius: 3px;
}


div.pictureContainer {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 170px;
}

div.pictureContainer:hover {
    border: 1px solid #777;
}

div.pictureContainer img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*
 .ma-xs { margin: 5px }
 .ma-s { margin: 10px }
 .ma-m { margin: 15px }
*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content img {
	width: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}